body{
	overflow: hidden;
}
/* Logo */
.logo{
	position: absolute; 
	left: -0px; 
	bottom: -15px;
}
/* Loading bar */
.loadingText{
	position: absolute; 
	right: 20px; 
	bottom: -5px; 
	border:1px; 
	border-style:solid; 
	border-color:#000000; 
	background: #000000; 
	padding: 0.5em; 
	width: 200px; 
	opacity: 0.85;
	font-family: verdana;
	font-size: 4;
	color: white
}
.loadingGIF{
	width:20px;
	height:20px;"
}
/* INFOBOX */
.infoboxParent {
	width: 100%; 
	height: 100%; 
	display: flex; 
	flex-flow: column;
}
.infoboxData {
	position: absolute; 
	top: 200px; 
	left: 500px; 
	border:1px; 
	width: 1000px; 
	height: 500px; 
	border-style:solid; 
	border-color:#000000; 
	background: #000000; 
	padding: 0.5em; 
	opacity: 0.85;
	font-family: verdana;
	color: white;
}
.infoboxEmptySpace {
	flex-grow : 1; 
	background: #000000;
}
/* TWEETS */
.interact {
display: none;
}
.media img {
  max-width:500px;
  max-height:500px;
  opactiy: 1.0;
}
.twitter ul {
  list-style:none;
  padding: 0.5em;
}
